# Lab: Giau tin trong am thanh dua vao dac trung quan trong nhat.
# Muc tieu:
# 1. Chia tin hieu am thanh thanh cac doan Si co kich thuoc n.
# 2. Nhung bit 1 bang cong thuc S'i(n) = 0.99 * Si(n).
# 3. Nhung bit 0 bang cong thuc S'i(n) = 0.98 * Si(n) + Si(n-d).
# 4. Tao file stego.wav sau khi dieu chinh cac doan tin hieu.
# 5. Danh gia sai khac giua cover va stego.
